/* for vertical scrolling */
div#container {
    height: 100%;
    overflow: auto;
}

div#timestampMessage {
    font-size: 38px;
    text-align: center;
}

table {
    font-size: 38px;
    width: 100%;
    border-spacing: 10px 20px;
    text-align: center;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
    table {
        font-size: 16px;
        border-spacing: 2px 10px;
    }
    td.icon {
        display: none;
    }
    div#timestampMessage {
        font-size: 16px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    table{
        font-size: 34px;
    }
    div#timestampMessage {
        font-size: 30px;
    }
}
